# .gitignore
.DS_Store
__MACOSX/
*.zip
*.tfstate
*.tfstate.*
.terraform/
opentofu/envs/*/backend.hcl
opentofu/bootstrap/envs/*/state/
opentofu/envs/dev/.terraform/
# IntelliJ IDEA project files
.idea/